body {
  padding-top: 50px;
}
#search{
    padding: 10px 15px;
}
.clickable {
    position: absolute;
    right: 25px;
    top: 25px;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    color: #ccc;
}