{% extends "layout.jinja" %}

{% block content %}

<form method='post' action='{% if product.id %}
        {{ url_for(".product_edit_submit", product_id=product.id) }}
    {% else %}
        {{ url_for(".product_edit_submit") }}
    {% endif %}' enctype="multipart/form-data">

<div class='col-md-12'>
    <h1><span class='pull-right btn-group'><input type='submit' class='btn btn-primary' value='Save' /></span>{{ product.name if product.name else "Add Product" }}</h1>
</div>
  
<div class='form-horizontal'>

    <div class='col-md-8'>

        <div class="form-group">
            <label for="product_number" class="col-sm-4 control-label">Product Name</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="product_name" name="product_name" placeholder="Product Name" value='{{ product.name }}' />
            </div>
        </div>

        <div class="form-group">
            <label for="product_number" class="col-sm-4 control-label">Product Number</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="product_number" name="product_number" placeholder="Product Number" value='{{ product.number }}' />
            </div>
        </div>

        <div class="form-group">
            <label for="price" class="col-sm-4 control-label">Price</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="price" name="price" placeholder="Price" value='{{ product.price }}' />
            </div>
        </div>

        <div class="form-group">
            <label for="image" class="col-sm-4 control-label">Image</label>
            <div class="col-sm-8">
                <input type='file' class="form-control" id='image' name="image" />
                {% if product.image %}
                <img src="{{ url_for('.uploaded_file', filename=product.image) }}" class='img-responsive img-rounded' />
                {% endif %}
            </div>
        </div>

    </div>

    <div class='col-md-4 well well-sm'>
        <h2><span class='pull-right glyphicon glyphicon-plus-sign tagadd clickable'></span>
        Tags</h2>
        <ul class='list-group' id='taglist'>
        {% for item in product.tags %}
            <li class='list-group-item' data-tag="{{ item.id }}">
                <span class='pull-right glyphicon glyphicon-remove-circle clickable tagdelete'></span>
                <input class='form-control' type='text' value='{{ item.name }}' name='tag' />
            </li>
        {% endfor %}
        </ul>
    </div>

</div>
</form>

<script type="text/template" id='tagitem'>
    <li class='list-group-item'>
        <span class='pull-right glyphicon glyphicon-remove-circle clickable tagdelete'></span>
        <input class='form-control' type='text' value='' name='tag' />
    </li>
</script>

{% endblock %}

{% block js %}
<script type="text/javascript" 
  src="{{ url_for( "static", filename="js/edit_product.js" ) }}"></script>
{% endblock %}