{% extends "layout.jinja" %}

{% block content %}
  <h2>Inventory</h2>
  <div class="btn-group col-md-6" id='search'>
    <span id='searchclear' class="pull-right glyphicon glyphicon-remove-circle clickable"></span>
    <input id="searchinput" type="text" 
      class="form-control" placeholder='Search' autofocus />
  </div>

  <div class='col-md-12'>
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Product Number</th>
          <th>Price</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
          <tr class="product" 
            data-tags="{% for item in product.tags -%}
            {{ item }}{% if not loop.last %}, {% endif %}{% endfor %}"
            data-number="{{ product.number }}"
            data-name="{{product.name }}">
            <th><a href="/product/{{ product.id }}">{{ product.name }}</a></th>
            <td>{{ product.number }}</td>
            <td>${{ product.price }}</td>
            <td>{{ product.total_qty }}
              <button class='btn btn-xs btn-primary'><span class='glyphicon glyphicon-plus'></span></button>
              <button class='btn btn-xs btn-default'><span class='glyphicon glyphicon-minus'></span></button>
            </td>
          </tr>
          
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

{% block js %}
<script type="text/javascript" 
  src="{{ url_for( "static", filename="js/index.js" ) }}"></script>
{% endblock %}