{% extends "layout.jinja" %}

{% block content %}
  <div class='col-md-12'>

    <h1><span class='pull-right'>

        <span class='btn-group'>
            <a class='btn btn-primary' href="/product/{{ product.id }}/edit">Edit</a>
            <a class='btn btn-default' href="/product/{{ product.id }}/delete">Delete</a>
        </span>
    </span>{{product.name}}</h1>
  </div>
  <form class='form-horizontal'>
    <div class='col-md-8'>

        <p class="row">
            <div class="col-sm-4 text-right"><strong>Product Number</strong></div>
            <div class="col-sm-8">{{ product.number }}</div>
        </p>

        <p class="row">
            <div class="col-sm-4 text-right"><strong>Price</strong></div>
            <div class="col-sm-8">{{ product.price }}</div>
        </p>
        {% if product.image %}
        <p class="row">
            <div class="col-sm-4 text-right"><strong>Image</strong></div>
            <div class="col-sm-6">
                <img src="{{ url_for('.uploaded_file', filename=product.image) }}" class='img-responsive img-rounded' />
            </div>
        </p>
        {% endif %}

    </div>

    <div class='col-md-4 well well-sm'>
        <h2>Tags</h2>
        <ul class='list-group'>
        {% for item in product.tags %}
            <li class='list-group-item' data-tag="{{ item.id }}">
                {{ item.name }}
            </li>
        {% endfor %}
        </ul>
    </div>
  </form>
{% endblock %}

{% block js %}
<script type="text/javascript" 
  src="{{ url_for( "static", filename="js/product.js" ) }}"></script>
{% endblock %}